
@media (max-width:570px) and (min-width:300px) {
    .media {
        margin-top: 2rem;
        display: block;
    }
}

@media (max-width:768px) and (min-width:571px) {
    .media {
        margin-top: 2rem;
        display: block;
    }
}